@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  /* background: linear-gradient(to bottom, green, rgba(0,0,255,0.5)) */
  background-image: url("https://media.istockphoto.com/photos/green-felt-texture-for-poker-an-casino-theme-seamless-square-tile-picture-id1161786875?k=6&m=1161786875&s=170667a&w=0&h=yPsfoOY8qIZxqPAsnCc6Qevt1eXKORdMDlEAP4nQ1UQ=");
  background-repeat: repeat;
  background-size: auto;
}

button {
  font-family: 'Rancho';
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.App-logo {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.App-link {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0; 
  background: rgb(53, 116, 211);
  font-family: 'Rancho';
  font-size: 50px;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 0.05em;
  color: white;
}

.nav a:hover {
  background: rgb(50, 75, 122);
  /* padding-right: 10px;
  padding-left: 10px; */
}

@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;

    padding: 0;
  }
}

.start-button button{
    margin: 15px 0 0 15px;
    border-radius: 20%;
    background-color: black;
    color: white;
    padding-left: 1vw;
    padding-top: 1vh;
    font-weight: 500;
    font-size: 50px;
  }

.start-button button:hover {
  transition: 0.75s;
    background-color: yellow;
    color: black;
    padding-left: 1vw;
    padding-top: 1vh;
    border: solid, 5px, rgba(255, 255, 0, 0.637);
  }

  /* .nav a { 
    text-align: space-evenly; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  } */


.playerhand{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;

}

.dealerhand{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.buttons {
  display: flex;
  justify-content: center;
}
.buttons button {
  margin: 30px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 50px;
}

.victory-banner {
  display: fixed;
  grid-template-columns: 2fr 1fr 2fr;
  animation-name: victory;
  /* animation-delay: 3s; */
  animation-duration: 4s;
  /* background-color: white; */
  /* height: 100px;  */
  min-width: 200px;
  text-align: center;
  /* justify-self: center; */
  align-self: center;
}

.victory-banner p {
  font-family: 'Rancho';
  font-size: 100px;
  font-weight: 900;
  grid-column: 2;
  padding: 1vh, 1vw;
  background-color: white;
}

@keyframes appear {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }

}

@keyframes victory {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.hand img {
  animation-name: appear;
  animation-duration: 0.75s;
  opacity: 1;
  height: 20vh;
}

.hand img {
  opacity: 1;
}


.pokerchip {
  margin: 1em;
  position: relative;
  display: inline-block;
  width: 151px;
  height: 151px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 50%;
  background-size: 151px 151px;
  background-position: center center;
}
.pokerchip:before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  background-size: 151px 151px;
  background-position: center center;
}
.pokerchip:after {
  z-index: 2;
  position: absolute;
  content: "25";
  text-align: center;
  font: bold 50px/111px Arial;
  white-space: pre;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.2);
}
.pokerchip:hover {
  -webkit-animation: 2s rotate-right linear infinite;
          animation: 2s rotate-right linear infinite;
}

@-webkit-keyframes rotate-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Colors */
.white {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #dddddd 0, #dddddd 97.4304px, #fff 97.4304px, #fff 113.4304px, #dddddd 113.4304px, #dddddd 151px);
}
.white:before {
  border: 8px solid #dddddd;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #C1C1C1 0, #C1C1C1 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #C1C1C1 110.7104px, #C1C1C1 151px);
}
.white:after {
  content: "5";
  background: #dddddd;
  color: #C1C1C1;
}
.red {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #800000 0, #800000 97.4304px, #fff 97.4304px, #fff 113.4304px, #800000 113.4304px, #800000 151px);
}
.red:before {
  border: 8px solid #800000;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #6C0000 0, #6C0000 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #6C0000 110.7104px, #6C0000 151px);
}
.red:after {
  content: "50";
  background: #800000;
  color: #6C0000;
}
.blue {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #000099 0, #000099 97.4304px, #fff 97.4304px, #fff 113.4304px, #000099 113.4304px, #000099 151px);
}
.blue:before {
  border: 8px solid #000099;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #00016C 0, #00016C 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #00016C 110.7104px, #00016C 151px);
}
.blue:after {
  content: "5";
  background: #000099;
  color: #00016C;
}
.green {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #008000 0, #008000 97.4304px, #fff 97.4304px, #fff 113.4304px, #008000 113.4304px, #008000 151px);
}
.green:before {
  border: 8px solid #008000;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #016C00 0, #016C00 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #016C00 110.7104px, #016C00 151px);
}
.green:after {
  content: "25";
  background: #008000;
  color: #016C00;
}
.black {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #222222 0, #222222 97.4304px, #fff 97.4304px, #fff 113.4304px, #222222 113.4304px, #222222 151px);
}
.black:before {
  border: 8px solid #222222;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #000000 0, #000000 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #000000 110.7104px, #000000 151px);
}
.black:after {
  content: "100";
  background: #222222;
  color: #000000;
}

.chips{
margin: 0 50px;
  padding: 20px 0;
  text-align: center;
  background-color: #014D43;
  box-shadow: 0 0 0 5px #282828 inset, 0 0 0 10px #969696 inset, 0 0 6px rgba(255, 255, 255, 0.2);
}